<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
    <head th:include="fragments/header :: head (title='Blog categories')">
        <title>Page title</title>
    </head>
    <body class="antialiased text-black bg-white">
        <div class="max-w-3xl px-4 mx-auto md:px-6 md:max-w-7xl md:px-0">
            <div class="flex flex-col justify-between h-screen">
                <header th:replace="fragments/header :: header (isInAdministrationPanel = false)"></header>

                <main class="mb-auto">
                    <div class="flex justify-end text-base font-medium leading-6"
                         sec:authorize="hasAuthority('ROLE_ADMIN')">
                        <a class="text-green-500 hover:text-green-600"
                           aria-label="all categories"
                           th:href="@{'/categories/create'}">
                            Add category &rarr;
                        </a>
                    </div>
                    <div class="flex flex-col items-start justify-start divide-y divide-gray-200 md:justify-center md:items-center md:divide-y-0 md:flex-row md:space-x-6 md:mt-24">
                        <div class="pt-6 pb-8 space-x-2 md:space-y-5">
                            <h1 class="text-3xl font-extrabold leading-9 tracking-tight text-gray-900 md:text-4xl md:leading-10 md:text-6xl md:leading-14 md:border-r-2 md:px-6">
                                Categories
                            </h1>
                        </div>
                        <div class="flex flex-wrap max-w-lg"
                             th:if="${categories.isEmpty()}">
                            <div class="mt-2 mb-2 mr-5" >
                                No categories.
                            </div>
                        </div>
                        <div class="flex flex-wrap max-w-lg">
                            <div class="mt-2 mb-2 mr-5"
                                 th:each="category : ${categories}">
                                <a class="text-sm font-medium uppercase text-green-500 hover:text-green-600"
                                   th:href="@{'/categories/' + ${category.slug}}"
                                   th:text="${category.name}"></a>
                                (<a class="text-sm font-semibold text-gray-600 uppercase"
                                    th:href="@{'/categories/' + ${category.slug}}"
                                    th:text="${category.getPosts.size}"></a>)
                            </div>
                        </div>
                    </div>
                </main>

                <footer th:replace="fragments/footer :: footer (isInAdministrationPanel = false)"></footer>
            </div>
        </div>
    </body>
</html>