<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
    <head th:include="fragments/header :: head (title='Change password')">
        <title>Page title</title>
    </head>
    <body class="antialiased text-black bg-white">
        <div class="max-w-3xl px-4 mx-auto md:px-6 md:max-w-7xl md:px-0">
            <div class="flex flex-col justify-between h-screen">
                <header th:replace="fragments/header :: header (isInAdministrationPanel = false)"></header>

                <main class="mb-auto">
                    <div class="divide-y divide-gray-200">
                        <div class="pt-6 pb-6 space-y-2 md:space-y-5">
                            <h1 class="text-3xl font-extrabold leading-9 tracking-tight text-gray-900 md:text-4xl md:leading-10 md:text-6xl md:leading-14">
                                Change password
                            </h1>
                        </div>
                        <div class="divide-y divide-gray-200">
                            <form action="#"
                                  th:action="@{'/user/change-password'}"
                                  th:object="${pass}"
                                  method="post">
                                <div class="shadow overflow-hidden md:rounded-md">
                                    <div class="px-4 py-5 bg-white md:p-6">
                                        <div class="text-green-500 font-bold mb-4 text-2xl"
                                             th:if="${success == true}">
                                            Password has been changed.
                                        </div>

                                        <div class="grid grid-cols-3 gap-6">
                                            <div class="col-span-3 relative md:col-span-1" x-data="{ show: false }">
                                                <label class="block font-medium text-sm text-gray-700" for="currentPassword">
                                                    Current password
                                                </label>

                                                <input class="mt-1 pl-4 pr-8 w-full transition ease-in-out rounded-md border border-gray-300 shadow-sm py-2 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-gray-100 focus:ring-green-500"
                                                       id="currentPassword"
                                                       :type="show ? 'text' : 'password'"
                                                       name="currentPassword"
                                                       required="required"
                                                       autocomplete="current-password"
                                                       placeholder="Type current password">

                                                <div class="absolute cursor-pointer -mt-7 right-0 mr-2" @click="show = !show">
                                                    <!-- Hide password -->
                                                    <svg x-show="show" xmlns="http://www.w3.org/2000/svg" fill="none" class="w-5 h-5" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                                        <path stroke-linecap="round" stroke-linejoin="round" d="M13.875 18.825A10.05 10.05 0 0112 19c-4.478 0-8.268-2.943-9.543-7a9.97 9.97 0 011.563-3.029m5.858.908a3 3 0 114.243 4.243M9.878 9.878l4.242 4.242M9.88 9.88l-3.29-3.29m7.532 7.532l3.29 3.29M3 3l3.59 3.59m0 0A9.953 9.953 0 0112 5c4.478 0 8.268 2.943 9.543 7a10.025 10.025 0 01-4.132 5.411m0 0L21 21" />
                                                    </svg>

                                                    <!-- Show password -->
                                                    <svg x-show="!show" xmlns="http://www.w3.org/2000/svg" fill="none" class="w-5 h-5" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                                        <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                                                        <path stroke-linecap="round" stroke-linejoin="round" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                                                    </svg>
                                                </div>

                                                <div class="font-bold text-red-500"
                                                     th:if="${errorCurrPass != null}"
                                                     th:text="${errorCurrPass}"></div>
                                            </div>
                                            <div class="col-span-3 relative md:col-span-1 md:col-start-1" x-data="{ show: false }">
                                                <label class="block font-medium text-sm text-gray-700" for="newPassword">
                                                    New password
                                                </label>

                                                <input class="mt-1 pl-4 pr-8 w-full transition ease-in-out rounded-md border border-gray-300 shadow-sm py-2 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-gray-100 focus:ring-green-500"
                                                       id="newPassword"
                                                       :type="show ? 'text' : 'password'"
                                                       name="newPassword"
                                                       required="required"
                                                       autocomplete="current-password"
                                                       placeholder="Type new password">

                                                <div class="absolute cursor-pointer -mt-7 right-0 mr-2" @click="show = !show">
                                                    <!-- Hide password -->
                                                    <svg x-show="show" xmlns="http://www.w3.org/2000/svg" fill="none" class="w-5 h-5" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                                        <path stroke-linecap="round" stroke-linejoin="round" d="M13.875 18.825A10.05 10.05 0 0112 19c-4.478 0-8.268-2.943-9.543-7a9.97 9.97 0 011.563-3.029m5.858.908a3 3 0 114.243 4.243M9.878 9.878l4.242 4.242M9.88 9.88l-3.29-3.29m7.532 7.532l3.29 3.29M3 3l3.59 3.59m0 0A9.953 9.953 0 0112 5c4.478 0 8.268 2.943 9.543 7a10.025 10.025 0 01-4.132 5.411m0 0L21 21" />
                                                    </svg>

                                                    <!-- Show password -->
                                                    <svg x-show="!show" xmlns="http://www.w3.org/2000/svg" fill="none" class="w-5 h-5" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                                        <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                                                        <path stroke-linecap="round" stroke-linejoin="round" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                                                    </svg>
                                                </div>

                                                <div class="font-bold text-red-500"
                                                     th:if="${errorNewPass != null}"
                                                     th:text="${errorNewPass}"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="px-4 py-3 bg-gray-50 text-right md:px-6">
                                        <input type="submit" value="Submit" class="inline-flex justify-center transition ease-in-out cursor-pointer items-center rounded-md border border-transparent bg-green-600 px-4 py-2 text-sm font-bold text-white shadow-sm hover:bg-green-700 focus:outline-none focus:ring-4 focus:ring-green-300 no-underline">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </main>

                <footer th:replace="fragments/footer :: footer (isInAdministrationPanel = false)"></footer>
            </div>
        </div>
    </body>
</html>