<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
    <head th:include="fragments/header :: head (title='404')">
      <title>Page title</title>
    </head>
    <body class="antialiased">
        <section class="flex flex-col w-full min-h-screen items-center justify-center bg-gray-200 mx-auto text-center">
              <h2 class="mb-8 font-extrabold text-9xl">
               404
              </h2>
              <p class="text-2xl font-semibold md:text-3xl">Not found</p>
              <p>Sorry, we couldn't find this resource!</p>
              <a href="/" class="px-8 mt-5 py-3 font-semibold no-underline rounded bg-green-500 hover:bg-green-600">Go to the main page</a>
        </section>
    </body>
</html>